body {
    background-image: url("../images/dark-honeycomb.png");
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

.gifText {
    color: black;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}
