body {
    background-color: lightslategray;
    font-family: 'Happy Monkey', cursive;
    font-weight: bold;
}

.gifs {
    color: black;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}
